# Project
PROJECT_NAME=prometheus

# PostgreSQL
POSTGRES_DB=prometheus
POSTGRES_USER=prometheus
POSTGRES_PASSWORD=prometheus_dev_password
POSTGRES_PORT=5432

# RabbitMQ
RABBITMQ_DEFAULT_USER=prometheus
RABBITMQ_DEFAULT_PASS=prometheus_dev_password
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Networking
PROMETHEUS_DOCKER_NETWORK=prometheus_net

# Persistence
POSTGRES_DATA_VOLUME=prometheus_postgres_data
RABBITMQ_DATA_VOLUME=prometheus_rabbitmq_data